@model MVC_FUT_NFL.Models.Noticia

<h4>Noticia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TituloNoticia" class="control-label"></label>
                <input asp-for="TituloNoticia" class="form-control" />
                <span asp-validation-for="TituloNoticia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContenidoNoticia" class="control-label"></label>
                <input asp-for="ContenidoNoticia" class="form-control" />
                <span asp-validation-for="ContenidoNoticia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlImgNoticia" class="control-label"></label>
                <input asp-for="UrlImgNoticia" class="form-control" />
                <span asp-validation-for="UrlImgNoticia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
