@model MVC_FUT_NFL.Models.Video

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Video</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdPartido" class="control-label"> Partido</label>
                <select disabled asp-for="IdPartido" class="form-control" id="ddlIdPartido"
                        asp-items="@(new SelectList(ViewBag.IdPartido,"Id","Id"))"></select>
                <span asp-validation-for="IdPartido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TituloVideo" class="control-label"></label>
                <input asp-for="TituloVideo" class="form-control" />
                <span asp-validation-for="TituloVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlVideo" class="control-label"></label>
                <input asp-for="UrlVideo" class="form-control" />
                <span asp-validation-for="UrlVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
